/** Custom Modifications */

.menu-content {
    background-color: rgba(255, 255, 255, 0) !important;
}

.menu-item-title {
    text-transform: none !important;
}

.topbar {
    display: none;
}

.custom-topbar {
    background-color: #198a83;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    padding: 8px 30px;
}

.wrapper {
    box-sizing: border-box;
    color: rgb(59, 65, 81);
    font-family: Open Sans, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.topbar-wrapper {
    align-items: center;
    box-sizing: border-box;
    color: rgb(59, 65, 81);
    display: flex;
    font-family: Open Sans, sans-serif;
    -moz-box-align: center;
}

.link {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Titillium Web, sans-serif;
    font-size: 24px;
    font-weight: 700;
    max-width: 300px;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: ease-in;
    -moz-box-align: center;
    -moz-box-flex: 1;
}

.download-url-wrapper {
    box-sizing: border-box;
    color: rgb(59, 65, 81);
    display: flex;
    flex-basis: 0%;
    flex-grow: 3;
    flex-shrink: 1;
    font-family: Open Sans, sans-serif;
    justify-content: flex-end;
    -moz-box-flex: 3;
    -moz-box-pack: end;
}

.select-label {
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: Titillium Web, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 600px;
    -moz-box-align: center;
    padding: 0 10px 0 0;
    white-space: nowrap;
}

    .select-label > span {
        font-size: 16px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 10px 0 0;
        text-align: right;
    }

#select {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(247, 247, 247);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+ICAgIDxwYXRoIGQ9Ik0xMy40MTggNy44NTljLjI3MS0uMjY4LjcwOS0uMjY4Ljk3OCAwIC4yNy4yNjguMjcyLjcwMSAwIC45NjlsLTMuOTA4IDMuODNjLS4yNy4yNjgtLjcwNy4yNjgtLjk3OSAwbC0zLjkwOC0zLjgzYy0uMjctLjI2Ny0uMjctLjcwMSAwLS45NjkuMjcxLS4yNjguNzA5LS4yNjguOTc4IDBMMTAgMTFsMy40MTgtMy4xNDF6Ii8+PC9zdmc+");
    background-origin: padding-box;
    background-position: calc(-10px + 100%) 50%;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 20px auto;
    border-bottom-color: rgb(84, 127, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1.6px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(84, 127, 0);
    border-left-style: solid;
    border-left-width: 1.6px;
    border-right-color: rgb(84, 127, 0);
    border-right-style: solid;
    border-right-width: 1.6px;
    border-top-color: rgb(84, 127, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1.6px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(59, 65, 81);
    flex-basis: 0%;
    flex-grow: 2;
    flex-shrink: 1;
    font-family: Titillium Web, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(59, 65, 81);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 5px;
    text-transform: none;
    -moz-appearance: none;
    -moz-box-flex: 2;
}
